<!DOCTYPE html>
<html lang="en">


  <body>

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading" >Please sign in</h2> 
        <input type="email" style="width:250px" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" style="width:250px" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" style="width:250px" type="submit">Sign in</button>
        <button class="btn btn-success btn-primary btn-block" style="width:250px" type="submit">Register</button>

      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>